%h1 Sign in

= form_for(:session, :url => sessions_path) do |f|
  %div{:class => "field"}
    = f.label :email
    %br/
    = f.text_field :email
  %div{:class => "field"}
    = f.label :password
    %br/
    = f.password_field :password
  %div{:class => "actions"}
    = f.submit "Sign in"

%p 
  New User?
  = link_to "Sign up now!", signup_path