!!! html
%html
  %head
    %title= title
    = csrf_meta_tag
    = render "layouts/stylesheets"
  %body
    %div{:class => "container"}
      = render "layouts/header"
      %section{ :class => "round"}= yield
      = render "layouts/footer"